:root {
  --accent-color: #2196f3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --footer-bcg: #2f303a;
  --primary-bcg: #f5f5f5;
  --footer-linkcolor: rgba(255, 255, 255, 0.6);
  --footer-adrescolor: #ffffff;
  --filter-secondarycolor: #ffffff;
  --header-logocolor: #000000;
  --hero-bcg: #2f303a;
  --btns-color: #f5f4fa;
}
body {
  color: var(--primary-text);
  background-color: var(--filter-secondarycolor);
  font-family: Roboto, sans-serif;
}
.lst {
  list-style: none;
}

/* header */
.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}
/* index */
.hero {
  background-color: var(--hero-bcg);
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--filter-secondarycolor);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--filter-secondarycolor);
  cursor: pointer;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-adrescolor);
}
.features h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}
.titles {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--primary-bcg);
}
.team-titles h3 {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-titles p {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}
/* logo */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-white {
  color: var(--filter-secondarycolor);
}
.logo-black {
  color: var(--primary-text);
}
.logo-web {
  color: var(--accent-color);
}
/* site nav */
.site-nav {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link.current,
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

/* filters */
.btns {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--btns-color);
}
.btns:hover,
.btns:focus {
  background-color: var(--accent-color);
  color: var(--filter-secondarycolor);
  cursor: pointer;
}
/* projects */
.group1 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}
/* footer */
.footer {
  background-color: var(--footer-bcg);
}
.adress-list,
.adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-linkcolor);
}

.adress-link1 {
  color: var(--footer-adrescolor);
}
.link,
.adress-link,
.adress-link1,
.logo {
  text-decoration: none;
}
.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text);
}
.link-list {
  color: var(--secondary-text);
}
